body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.title{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Homepage e navbar */

header {
  position: relative;
  background-color: black;
  height: 81vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 8px 20px;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350%;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  
  header video {
    display: none;
  }
}

.nav-link{
  white-space: nowrap;
  margin: 0px 10px;
  transition: 0.3s;
}

.nav-link:hover{
  color: #4DAAE9 !important;
  transform: scale(1.2);
}

.dropdown-item{
  font-size: 19px;
  transition: 0.3s;
}

.dropdown-item:hover{
  background-color: #4DAAE9;
  color: white;
}

.logo_nav{
  width: 250px;
}

.img_pills1{
  width: 250px;
}

.img_pills2{
  width: 200px;
}

.img_pills3{
  width: 300px;
}

.btn-mig{
  background-color: #4DAAE9;
  width: 200px;
}

.citazione{
  margin-top: 150px;
  margin-bottom: 150px;
  font-style: italic;
  padding: 0px 100px;
}

.bordo{
  border-bottom: 4px solid #4DAAE9;
  width: 350px;
}

.bordo2{
  border-bottom: 4px solid #4DAAE9;
  width: 400px;
}

.bordo3 {
  border-bottom: 4px solid #4DAAE9;
  width: 65%;
}

.bordo4 {
  border-bottom: 4px solid #4DAAE9;
  width: 20%;
}

.feature{
  height: 500px;
}

.accordion{
  width: 80%;
}

.linkedin{
  color: #2D63BC;
}

.facebook{
  color: #2B63F6;
}

.powered{
  font-size: 13px;
}

.sez_accordion{
  width: 60%;
}

.sez_xk{
  margin-top: 150px;
  margin-bottom: 150px;
}

.accordion-button{
  padding: 30px 20px;
  border-radius: 25px !important;
}

.accordion-button:not(.collapsed){
  background-color: white;
  box-shadow: 2px 2px 8px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .logo_nav{
    width: 200px;
  }
  
  .nav-link:hover{
    color: #4DAAE9 !important;
    transform: scale(1);
  }
  
  .bordo {
    border-bottom: 4px solid #4DAAE9;
    width: 65%; 
  }
  
  .bordo2 {
    border-bottom: 4px solid #4DAAE9;
    width: 80%;
  }
  
  .bordo3 {
    border-bottom: 4px solid #4DAAE9;
    width: 80%;
  }
  
  .bordo4 {
    border-bottom: 4px solid #4DAAE9;
    width: 40%;
  }
  
  .accordion {
    width: 100%; 
    max-width: 100%; 
  }
  
  .sez_accordion{
    width: 90%;
  }
  
  .masthead2 {
    height: 30vh !important;
    min-height: 300px !important;
    background-image: url('../../public/storage/img/contatti.jpg');
    background-size: cover;
    background-position: -250px 0px !important;
    background-repeat: no-repeat;
    transform: scale(1);
  }
}

/* Chi siamo */

.masthead {
  height: 60vh;
  min-height: 400px;
  background-image: url('../../public/storage/img/chiSiamo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-bg-primary{
  background-color: #4DAAE9 !important;
}

.btn{
  background-color: #4DAAE9 !important;
  color: white;
  transition: 0.3s;
}

.btn:hover{
  background-color: #2D63BC !important;
  color: white;
}

/* Formazione Operativa */

.button_durata{
  background-color: #4DAAE9;
}

.sez_corso{
  background-color: #4DAAE9;
  color: white;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.sez_corso2{
  background-color: #4DAAE9;
  color: white;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.link_formazione{
  transition: 0.3s !important;
}

.link_formazione:hover{
  color: #4DAAE9 !important;
}

.masthead2 {
  height: 50vh;
  min-height: 400px;
  background-image: url('../../public/storage/img/contatti.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.simboli_contatti{
  background-color: #4DAAE9;
  padding: 25px 30px;
  border-radius: 50%;
  font-size: 40px;
  color: white;
}

.icone_social{
  font-size: 60px;
  margin: 0px 15px;
  filter: drop-shadow(2px 2px 2px grey);
}

.instagram{
  width: 85px;
  margin-top: 2px;
  filter: drop-shadow(2px 2px 2px grey);
}

.icone_footer{
  color: #4DAAE9;
}

.link_contatti{
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.link_contatti:hover{
  color: #4DAAE9;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}